@model TeamProject.Models.HomeProductViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="showcase-grid">
    <div class="container">
        <div class="col-md-8 showcase">
            <img id="img1" src="/MiniImages/@Model.images.FirstOrDefault().MiniImage" data-zoom-image="/Images/@Model.images.FirstOrDefault().Name"/>
            <div id="gal">
                @for (int i=1;i<Model.images.Count;i++)
                {
                    <a href="#" data-image="/MiniImages/@Model.images.ElementAt(i).MiniImage" data-zoom-image="/Images/@Model.images.ElementAt(i).Name" >
                        <img id="img1" src="/MiniImages/@Model.images.ElementAt(i).MiniImage" />
                    </a>
                }
            </div>
            @*<div class="flexslider">
                    <ul class="slides">
                        @foreach (var img in Model.images)
                        {
                            <li data-thumb="/MiniImages/@img.MiniImage">
                                <img src="/Images/@img.Name" data-imagezoom="true" class="img-responsive">
                            </li>
                        }
                    </ul>
                    <div class="clearfix"></div>
                </div>*@

            <img />
        </div>
        <div class="col-md-4 showcase">
            <div class="showcase-rt-top">
                <div class="pull-left shoe-name">
                    <h3>@Model.Title</h3>
                    <h4>&#36;@Model.Price</h4>
                </div>

                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>


@section Scripts
{

    <script>
        $("#img1").elevateZoom({ gallery: 'gal', cursor: 'pointer', galleryActiveClass: 'active', imageCrossfade: true, loadingIcon: 'http://www.elevateweb.co.uk/spinner.gif' });

        //pass the images to Fancybox
        $("#img1").bind("click", function (e) {
            var ez = $('#img1').data('elevateZoom');
            $.fancybox(ez.getGalleryList());
            return false;
        });
    </script>
    @*<script>
            // Can also be used with $(document).ready()
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    controlNav: "thumbnails"
                });
            });
        </script>*@
}