
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@ViewBag.Message
<h2>Index</h2>
<button id="btnGame" class="col-lg-2">Game</button>
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />

<br />

<script>
    var btnGame = document.getElementById('btnGame');
    console.log('btnGame == ', btnGame);
    btnGame.addEventListener('click', (function () {
        console.log('Nuck-nuck!');
        window.open('http://localhost:3092/memoryGame/index.html#!/')
    }));
</script>